html {
  margin: 0;
  padding: 0;

  text-align: center;
  overflow-x: hidden;
}

button {
  outline: none;
}

.unselectable1 {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: pointer;
}
/*Unselectable without click (no pointer change on hover) */
.unselectable2 {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#footer {
  margin: 0;
  padding: 0;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;

  width: 100vw;

  background-color: #981A31;
}

@media only screen and (max-width: 768px) {
  /*Mobile Footer*/
  .footer-text {
    margin: 0;
    padding: 0.1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    font-family: 'Oswald', sans-serif;
    font-size: 3.25vw;
    font-weight: 500;
    line-height: 2.5vh;

    color: #e9c357;

    border-top-style: solid;
    border-top-color: #e6bb3e;
    border-top-width: 0.3vh;
    border-bottom-style: solid;
    border-bottom-color: #e9c357;
    border-bottom-width: 0.3vh;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
    .footer-text:hover {
      color: #e0aa0f;
    }
}

@media only screen and (min-width: 769px) {
  /*Desktop Footer*/
  .footer-text {
    margin: 0;
    padding: 0.1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    font-family: 'Oswald', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 2.5vh;

    color: #e9c357;

    border-top-style: solid;
    border-top-color: #e6bb3e;
    border-top-width: 0.4vh;
    border-bottom-style: solid;
    border-bottom-color: #e9c357;
    border-bottom-width: 0.4vh;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
    .footer-text:hover {
      color: #e0aa0f;
    }
}
